<div class="row">
  <div class="col-md-6">
    <h3>June 5, 2023</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><strong>Group 1</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 1)</td> </tr>
      <tr> <td>10:30</td>  <td>break</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>End Group 1</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td>14:00</td>  <td><strong>Group 2</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 1)</td> </tr>
      <tr> <td>16:00</td>  <td>break</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>End Group 2</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td></td>  <td><a href="https://github.com/sinataamoli/summer-camp"  target="_blank">linked data files in git</a></td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/data/python-novice-inflammation-data.zip"  target="_blank">DOWNLOAD data files</a></td> </tr>
      
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 6, 2023</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><strong>Group 1</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 2)</td> </tr>
      <tr> <td>10:30</td>  <td>break</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>End Group 1</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td>14:00</td>  <td><strong>Group 2</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 2)</td> </tr>
      <tr> <td>16:00</td>  <td>break</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>End Group 2</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td></td>  <td><a href="https://github.com/ucrlibrary/2023-06-05-ucr/blob/gh-pages/data/Group%201%20Python%20Lesson.ipynb"  target="_blank">Group 1 Day 1 Notebook</a></td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/data/python-novice-inflammation-data.zip"  target="_blank">DOWNLOAD data files</a></td> </tr>
      
    </table>
  </div>
</div>
