<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><strong>Group 1</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 1)</td> </tr>
      <tr> <td>10:30</td>  <td>break</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>End Group 1</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td>14:00</td>  <td><strong>Group 2</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 1)</td> </tr>
      <tr> <td>16:00</td>  <td>break</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>End Group 2</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><strong>Group 1</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 2)</td> </tr>
      <tr> <td>10:30</td>  <td>break</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>End Group 1</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td>14:00</td>  <td><strong>Group 2</strong> Start</td> </tr>
      <tr> <td></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a> (part 2)</td> </tr>
      <tr> <td>16:00</td>  <td>break</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>End Group 2</td> </tr>
    </table>
  </div>
</div>
